<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
h2 {
  color: #007bff;
}
</style>

<div class="container">
  <h2 class="mt-5"> Current Skills:</h2>
  <div class="card-body">
    <ul class="card-text">
      {{#each skills}}
        <li class="card-text">{{skill_name}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<form class="form-horizontal" action="/editskills" method="POST">
  <h2 class="container"> Select Skills To Add:</h2>
  {{#each availableSkills}}
  <!-- skill[] needed to send all skills in array in POST req even if only 1 selected -->
    <input type="checkbox" id="skill" name=skill[] value={{skill_id}}>
    <label for="skillname">{{skill_name}}</label><br><br>
  {{/each}}
  <input type = "hidden" name = "email" value = {{#each profile}}{{email}}{{/each}} />
  <div class="editskills-form">
    <input type="submit" class="btn btn-primary btn-block" value="Submit">
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
