<h1>Welcome to Expert Finder</h1>
<p>Search for an Expert by particular skill, course or organization to find the Expert you are looking for, or create an Expert Profile for others to find.</p>
<div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Skill/Course/Organization" name="search">
      <button type="submit">SEARCH</button>
    </form>
  </div>