<h1> Results from querying for an Expert will appear here </h1>
<p> Term searched for {{term}} <p>
<p> 
<table id="table">
    <thead>
        <tr>
            <th>Profile ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
        {{#each searchRes}}
            <tr>
                <td>{{profile_id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
            </tr>
        {{/each}}
</table>
