<h1> Enter signup details</h1>
<form action="/signup" method="POST">
  <div>
    <label for="firstname">Enter your first name: </label>
    <input type="text" name="firstname" id="firstname" required>
  </div>
  <div>
    <label for="lastname">Enter your last name: </label>
    <input type="text" name="lastname" id="lastname" required>
  </div>
  <div>
    <label for="email">Enter your email: </label>
    <input type="email" name="email" id="email" required>
  </div>
  <div>
    <label for="industry">Enter your industry: </label>
    <input type="text" name="industry" id="industry" required>
  </div>
  <div>
    <label for="github">Enter your GitHub link: </label>
    <input type="text" name="github" id="github">
  </div>
  <div>
    <label for="linkedin">Enter your LinkedIn link: </label>
    <input type="text" name="linkedin" id="linkedin">
  </div>
  <div>
    <label for="twitter">Enter your Twitter link: </label>
    <input type="text" name="twitter" id="twitter">
  </div>
  <h2> Select your skills:</h2>
  {{#each allskills}}
  <!-- skill[] needed to send all skills in array in POST req even if only 1 selected -->
    <input type="checkbox" id="skill" name=skill[] value={{skill_id}}>
    <label for="skillname">{{skill_name}}</label><br><br>
  {{/each}}
  <h2> Select your courses:</h2>
  {{#each allcourses}}
    <!-- course[] needed to send all courses in array in POST req even if only 1 selected -->
    <input type="checkbox" id="course" name=course[] value={{course_id}}>
    <label for="coursename">{{course_name}}</label><br><br>
  {{/each}}
    <p> Upload a photo </p>
    <input type="file" id="profilepic" name="profilepic">
  <div class="signup-form">
    <input type="submit" value="Sign Up">
  </div>
</form>
